/* src/index.css */

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #000;
  text-decoration: inherit;
}

a:hover {
  color: #db4444;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Общий класс для контейнера, чтобы центрировать контент */
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 1rem;
}